body {
	background-color: #34312E;
	font-family: 'Open Sans', sans-serif;
}

.site {
	background-color: #FACC75;
	border-style: solid;
	border-width: 2px;
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left: 14%;
	margin-right: 14%;
}

.header {
	float: left;
	font-family: 'Lobster', cursive;
	font-size: 1.6em;
	padding-left: 2%;
}

.header a {
	color: #000;
	text-decoration: none;
}

.header a:hover {
	color: #FACC75;
	text-decoration: none;
}

.header small {
	font-family: 'Open Sans', sans-serif;
	font-size: 0.4em;
	margin-left: 8px;
}

.menu {
	background-color: #FF9400;
	font-family: 'Lobster', cursive;
	text-align: right;
	padding-right: 10%;
	font-size: 1.6em;
	box-shadow: 0px 3px 2px 0px #555;

}

.menu ul {
	padding-top: 2%;
	margin: 0%;
}

.menu li {
	display: inline;
	color: #FACC75;
	background-color: #FACC75;
	margin-left: 1%;
	padding-bottom: 6px;
	box-shadow: -3px -2px 2px 0px #555555;
}

.menu li a {
	text-decoration: none;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 5px;
	color: #000;
}

.menu li.active a {
	color: #FF3100;
}

.menu li.active a:hover {
	color: #FF3100;
}

.menu li a:hover {
	color: #FF3100;
}

.content {
  	padding-left: 3%;
	padding-right: 3%;
	padding-top: 1%;
	padding-bottom: 1%;
}

.content h3 {

}

.content p {
	margin-top: -12px;
	margin-bottom: 8px;
	padding-bottom: 1%;
}

.content p.code {
	font-family: 'Inconsolata';
	background-color: #000;
	color: #0E9600;
	border-style: solid;
	border-width: 1px;
	padding: 5px 8px;
	margin-left: 1%;
	margin-right: 30%;
	font-size: 1.1em;
}

.content a.ico {
	font-family: 'Lobster', cursive;
	font-size: 1.2em;
	margin-right: 4px;
}

.footer {
	background-color: #FF9400;
	font-family: 'Lobster', cursive;
	font-size: 1em;
	text-align: center;
	padding: 1%;
	box-shadow: 0px -3px 2px 0px #555;
}